	.img1{
			width:200px;
			height:200px;
		}
		.img2{
			width:300px;
			height:300px;
		}
		.img8{
			width:30px;
			height:30px;
		}
		.img9{
			width:500px;
			height:200px;
		}
		.texto{
			font font-family: monaco;
			color: #d9b3ff;
			font-size:18 ;
		}

		
a:link {
  color: #ff1a1a;
}


a:visited {
  color: #ff1a1a;
}


a:hover {
  color:  #ff1a1a;
}


a:active {
  color:  #ff1a1a;
}

body{
	background-image: url("3D.jpg");
}
table{
	text-align: center;
	background-color:  #ff99dd;
	opacity: 0.30;
	width: 70%;
}
table#d7aca4
